@import "tailwindcss";
@import "./fonts.css";

:root {
  --background: #F3F4F8;
  --foreground: #000000;
  --font-sans: 'Noto Sans Thai', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #F3F4F8;
    --foreground: #000000;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
